.article-content-box-memorize {
  margin: 10px;
}

.article-content-box-head-memorize {
  border: 2px solid #f1f0f0;
  border-radius: 13px;
  padding: 10px 15px;
}

.article-content-box-body-memorize {
  overflow-wrap: break-word;
}

.article-container-content-box-body-memorize {
  border: 2px solid #f1f0f0;
  border-radius: 13px;
  padding: 10px 15px;
  margin-top: -2px;
}

.article-profile-name-memorize {
  font-size: 18px;
  font-weight: bold;
}

.article-createdAt-memorize {
  margin-top: 5px;
  font-size: 15px;
  color: #787878;
}

.article-container-button-box-body-memorize {
  display: flex;
  justify-content: flex-end;
}

.article-button-comment-memorize {
  background: #63a3ba;
  border-radius: 15px;
  cursor: pointer;
  width: 80px;
  padding: 5px 10px;
}

.article-button-like-memorize {
  background: #f17878;
  border-radius: 15px;
  cursor: pointer;
  width: 80px;
  padding: 5px 10px;
}

.article-like-icon-memorize,
.article-comment-icon-memorize {
  position: relative;
  left: calc(50% - 9px);
  font-size: 18px;
  font-weight: bold;
  color: #f1f0f0;
}
.article-like-icon-memorize::after,
.article-comment-icon-memorize::after {
  position: relative;
  font-size: 13px;
  color: #ffffff;
  background: #6e6e6e;
  opacity: 0.8;
  border-radius: 15px;
  padding: 2px 5px;
  content: attr(comment-count);
  top: -7px;
  right: 7px;
}

.article-horizontal--memorize {
  border: 1px solid #f1f0f0;
}

@media only screen and (min-width:992px) {
  .article-content-box-memorize {
    width: 800px;
  }
}
@media only screen and (max-width:992px) {
  .article-content-box-memorize {
    width: 85%;
  }
}
@media only screen and (max-width:768px) {
  .article-content-box-memorize {
    width: 80%;
  }
}

@media only screen and (max-width:576px) {
  .article-content-box-memorize {
    width: 98%;
  }

  .article-button-comment-memorize {
    width: 100%;
  }

  .article-button-like-memorize {
    width: 100%;
  }
}
