.content-box-memorize {
  margin: 10px;
}

@media only screen and (min-width:992px) {
  .content-box-memorize {
    width: 800px;
  }
}
@media only screen and (max-width:992px) {
  .content-box-memorize {
    width: 85%;
  }
}
@media only screen and (max-width:768px) {
  .content-box-memorize {
    width: 80%;
  }
}

@media only screen and (max-width:576px) {
  .content-box-memorize {
    width: 98%;
  }
}

.content-box-head-memorize {
  border: 2px solid #f1f0f0;
  border-radius: 13px;
  padding: 10px 15px;
}

.content-box-body-memorize {
  overflow-wrap: break-word;
  border: 2px solid #f1f0f0;
  border-radius: 13px;
  padding: 10px 15px;
  margin-top: -2px;
}

.profile-name-memorize {
  font-size: 18px;
  font-weight: bold;
}

.article-createdAt-memorize {
  margin-top: 5px;
  font-size: 15px;
  color: #787878;
}
