.comment-container-col-memorize {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.comment-container-memorize {
  display: flex;
}

.comment-left-col-memorize {
  border: 1px solid red;
  width: 700px;
}

.comment-right-col-memorize {
  border: 1px solid red;
  width: 700px;
}

@media only screen and (min-width:992px) {
  .comment-container-memorize {
    display: flex;
  }

  .comment-container-col-memorize {
    align-items: center;
    width: 50%;
  }
}

@media only screen and (max-width:991px) {
  .comment-container-memorize {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .comment-container-col-memorize {
    align-items: center;
    width: 100%;
  }
}
