@import 'public/style/style';

.container-comment-memorize {
  display: flex;
}

.container-comment-col-memorize {
  display: flex;
  flex-direction: column;
}

.container-comment-left-col-memorize {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: $screen-992) {
  .container-comment-memorize {
    justify-content: center;
  }

  .container-comment-col-memorize::-webkit-scrollbar {
    display: none;
  }

  .container-comment-col-memorize {
    align-items: center;
    height: calc(100vh - 60px);
    overflow: auto;
    -ms-overflow-style: none;
    width: 45%;
  }

  .container-comment-right-col-memorize,
  .container-comment-left-col-memorize {
    width: 95%;
  }
}
@media only screen and (max-width: $screen-992) {
  .container-comment-memorize {
    flex-direction: column;
  }

  .container-comment-col-memorize {
    align-items: center;
    width: 100%;
  }

  .container-comment-right-col-memorize,
  .container-comment-left-col-memorize {
    width: 95%;
  }
}
