@import 'public/style/style';

.containerCommentMemorize {
  display: flex;
}

.containerCommentColMemorize {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.containerCommentLeftColMemorize {
  display: flex;
  flex-direction: column;
}

.containerCommentContentBoxMemorize {
  margin-bottom: 10px;
  width: 100%;
}

@media only screen and (min-width: $screen-992) {
  .containerCommentMemorize {
    justify-content: center;
  }

  .containerCommentColMemorize::-webkit-scrollbar {
    display: none;
  }

  .containerCommentColMemorize {
    align-items: center;
    height: calc(100vh - 60px);
    overflow: auto;
    -ms-overflow-style: none;
    width: 45%;
  }

  .containerCommentRightColMemorize,
  .containerCommentLeftColMemorize {
    width: 95%;
  }
}
@media only screen and (max-width: $screen-992) {
  .containerCommentMemorize {
    flex-direction: column;
  }

  .containerCommentColMemorize {
    align-items: center;
    width: 100%;
  }

  .containerCommentRightColMemorize,
  .containerCommentLeftColMemorize {
    width: 95%;
  }
}
