@import 'public/style/style';

.imageMemorize {
  width: 100%;
}

.imageProfileMemorize {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.imageProfileContentMemorize {
  width: 100%;
  height: 50px;
  border-radius: 50%;
}

.imageCreateContentBoxMemorize,
.imageContentMemorize {
  border-radius: 15px;
  width: 60%;
}

@media only screen and (max-width: $screen-600) {
  .imageProfileMemorize {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .imageCreateContentBoxMemorize,
  .imageContentMemorize {
    width: 100%;
  }
}
