.article-form-create-content-box-memorize {
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #c4c4c4;
  border-radius: 15px;
}

@media only screen and (min-width:992px) {
  .article-form-create-content-box-memorize {
    width: 796px;
  }
}
@media only screen and (max-width:992px) {
  .article-form-create-content-box-memorize {
    width: calc(85% - 4px);
  }
}
@media only screen and (max-width:768px) {
  .article-form-create-content-box-memorize {
    width: calc(80% - 4px);
  }
}

@media only screen and (max-width:576px) {
  .article-form-create-content-box-memorize {
    width: calc(98% - 4px);
  }
}

.article-form-textarea-content-box-memorize {
  margin: 20px 20px 10px 20px;
}

.article-textarea-content-box-memorize {
  -ms-overflow-style: none;
  width: calc(100% - 32px);
  border-radius: 15px;
  border-color: #d4d4d4;
  padding: 10px 15px;
  font-size: 18px;
  resize: unset;
}
.article-textarea-content-box-memorize::-webkit-scrollbar {
  display: none;
}

.article-form-create-button-memorize {
  margin: 10px 20px 20px 20px;
}

.article-create-button-memorize {
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #4fbda4;
  border-radius: 15px;
}

.article-create-button-memorize.disable-click-memorize {
  background: #6c7c79;
  pointer-events: none;
}
