.article-form-create-content-box-memorize {
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #c4c4c4;
  border-radius: 15px;
}

@media only screen and (min-width:992px) {
  .article-form-create-content-box-memorize {
    width: 800px;
  }
}
@media only screen and (max-width:992px) {
  .article-form-create-content-box-memorize {
    width: 85%;
  }
}
@media only screen and (max-width:768px) {
  .article-form-create-content-box-memorize {
    width: 80%;
  }
}

@media only screen and (max-width:576px) {
  .article-form-create-content-box-memorize {
    width: 98%;
  }
}

.article-form-textarea-content-box-memorize {
  margin: 20px 20px 10px 20px;
}

.article-textarea-content-box-memorize {
  -ms-overflow-style: none;
  width: calc(100% - 32px);
  border-radius: 15px;
  border-color: #d4d4d4;
  padding: 10px 15px;
  font-size: 18px;
  resize: unset;
}
.article-textarea-content-box-memorize::-webkit-scrollbar {
  display: none;
}
.article-textarea-content-box-memorize:focus {
  border: 1px solid #33a1ff;
  box-shadow: inset 0 0px 5px rgb(207, 207, 207),0 0 8px rgb(95, 167, 250);
  -webkit-box-shadow: inset 0 0px 5px rgb(207, 207, 207),0 0 8px rgb(95, 167, 250);
  outline: 0;
}

.article-form-create-button-memorize {
  margin: 10px 20px 20px 20px;
}

.article-create-button-memorize {
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #32c465;
  border-radius: 15px;
}
