@import 'public/style/style';

.containerAuthenticationMemorize {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerAuthenticationFormMemorize {
  border: 3px solid #c1c1c1;
  border-radius: 20px;
  padding: 40px 20px;
}

.containerAuthenticationFormControlMemorize {
  margin: 20px 0px;
}

.textboxLabelAuthenticationMemorize {
  margin-left: 3px;
  font-size: 20px;
}

.labelAuthenticationMemorize {
  font-size: 30px;
  font-weight: bold;
}

.errorMessageAuthenticationMemorize {
  color: red;
  margin-left: 3px;
}

.containerAuthenticationButtonMemorize {
  margin-top: 35px;
  display: flex;
}

@media only screen and (min-width: $screen-576) {
  .containerAuthenticationFormMemorize {
    width: 600px;
  }
}
@media only screen and (max-width: $screen-576) {
  .containerAuthenticationFormMemorize {
    width: 400px;
  }
}
