@import 'public/style/style';

.authentication-container-memorize {
  position: relative;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-authentication-memorize {
  border: 3px solid #c1c1c1;
  border-radius: 20px;
  padding: 40px 20px;
}

.form-control-memorize {
  margin: 20px 0px;
}

.form-text-input-memorize {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  height: 40px;
  margin-top: 8px;
  padding: 0px 10px;
  font-size: 18px;
}

.textbox-label-authentication-memorize {
  margin-left: 3px;
  font-size: 20px;
}

.label-authentication-memorize {
  font-size: 30px;
  font-weight: bold;
}

.form-control-text-error-memorize {
  color: red;
  margin-left: 3px;
}

.container-authentication-button-memorize {
  margin-top: 35px;
  display: flex;
}

@media only screen and (min-width: $screen-576) {
  .form-authentication-memorize {
    width: 600px;
  }
}
@media only screen and (max-width: $screen-576) {
  .form-authentication-memorize {
    width: 400px;
  }
}
