@import 'public/style/style';

.containerMemorizeContentBoxMemorize {
  width: 100%;
}

// head
.containerContentBoxHeadMemorize {
  display: flex;
  border: 2px solid #c4c4c4;
  border-radius: 13px;
  padding: 10px 15px;
}

.containerContentBoxHeadLeftMemorize {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-right: 10px;
}

.containerContentBoxHeadRightMemorize {
  width: calc(100% - 60px);
}

.containerContentBoxHeadProfileNameMemorize {
  font-size: 18px;
  display: flex;
}

.containerContentBoxHeadCreatedAtMemorize {
  margin-top: 5px;
  font-size: 15px;
  color: #787878;
}

.containerProfileNameBoxMemorize {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300%;
}

.containerEditDeleteBoxMemorize {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// body
.containerContentBoxBodyMemorize {
  border: 2px solid #c4c4c4;
  border-radius: 13px;
  padding: 10px 15px;
  margin-top: -2px;
}

.containerContentBoxContentMemorize {
  overflow-wrap: break-word;
}

.containerContentBoxBodyButtonMemorize {
  display: flex;
  justify-content: flex-end;
}

.contentBoxBodyHorizontalMemorize {
  border: 1px solid #e2e2e2;
}

.containerContentBoxImageMemorize {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

// icon
.iconLikeMemorize,
.iconCommentMemorize {
  position: relative;
  left: 9px;
  font-size: 18px;
  font-weight: bold;
  color: #f1f0f0;
}
.iconLikeMemorize::after,
.iconCommentMemorize::after {
  position: relative;
  font-size: 13px;
  color: #ffffff;
  background: #6e6e6e;
  opacity: 0.8;
  border-radius: 15px;
  padding: 2px 5px;
  content: attr(count);
  top: -7px;
  right: 7px;
}

.iconLikeMemorize.unlike {
  color: $red-memorize;
}

.iconEditMemorize {
  margin-right: 5px;
  color: $green-memorize;
  cursor: pointer;
}

.iconDeleteMemorize {
  color: $red-memorize;
  cursor: pointer;
}
