body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.form-control:focus,
.input-memorize:focus {
  border: 1px solid #31c1a0;
  box-shadow: inset 0 0px 5px rgb(207, 207, 207),0 0 8px #4fbda4;
  -webkit-box-shadow: inset 0 0px 5px rgb(207, 207, 207),0 0 8px #4fbda4;
  outline: 0;
}

div {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
