$screen-992: 992px;
$screen-768: 768px;
$screen-576: 576px;
$screen-600: 600px;
$screen-400: 400px;

$green-memorize: #4fbda4;
$blue-memorize: #63a3ba;
$red-memorize: #f17878;
$yellow-memorize: #F59149;
$disable-memorize: #6c7c79;

* {
  box-sizing: border-box;
}

*.green-memorize {
  background: $green-memorize;
  color: #e7e6e6;
}
*.blue-memorize {
  background: $blue-memorize;
  color: #e7e6e6;
}
*.red-memorize {
  background: $red-memorize;
  color: #e7e6e6;
}
*.yellow-memorize {
  background: $yellow-memorize;
  color: #e7e6e6;
}
*.disable-memorize {
  background: $disable-memorize;
  pointer-events: none;
  color: #e7e6e6;
}
*.unlike-memorize {
  border: 2px solid $red-memorize;
}
*.like-memorize {
  background: $red-memorize;
}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

textarea:focus,
input:focus {
  border: 1px solid $green-memorize;
  box-shadow: inset 0 0px 5px rgb(207, 207, 207),0 0 8px $green-memorize;
  -webkit-box-shadow: inset 0 0px 5px rgb(207, 207, 207),0 0 8px $green-memorize;
  -webkit-appearance: none;
  outline: 0;
}

div {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
