$screen-992: 992px;
$screen-768: 768px;
$screen-576: 576px;
$screen-600: 600px;
$screen-400: 400px;

$green-memorize: #4fbda4;
$blue-memorize: #63a3ba;
$red-memorize: #f17878;
$yellow-memorize: #F59149;

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

textarea:focus,
input:focus {
  border: 1px solid $green-memorize;
  box-shadow: inset 0 0px 5px rgb(207, 207, 207),0 0 8px $green-memorize;
  -webkit-box-shadow: inset 0 0px 5px rgb(207, 207, 207),0 0 8px $green-memorize;
  -webkit-appearance: none;
  outline: 0;
}

div {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
