@import 'public/style/style';

.modal-form-memorize {
  display: flex;
}

.modal-button-memorize {
  width: 50%;
}

.memorize-create-button-memorize.cancel-button-memorize {
  background: $red-memorize;
}
