@import 'public/style/style';

.textarea-box-memorize {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  font-size: 18px;
  height: 100px;
  padding: 8px 10px;
  resize: unset;
  -ms-overflow-style: none;
}

.textarea-box-memorize::-webkit-scrollbar {
  display: none;
}

// TODO: revise name below

.memorize-textarea-content-box-memorize {
  -ms-overflow-style: none;
  width: 100%;
  height: 100px;
  border-radius: 15px;
  border-color: #d4d4d4;
  padding: 10px 15px;
  font-size: 18px;
  resize: unset;
}
.memorize-textarea-content-box-memorize::-webkit-scrollbar {
  display: none;
}

.memorize-create-button-memorize {
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: $green-memorize;
  border-radius: 15px;
}
