$buttonConfig:
        'submit' #4fbda4,
        'disable' #6c7c79,
        'authentication' #4f9fbd,
        'like' #f17878,
        'comment' #63a3ba;

@each $tuple in $buttonConfig {
  .button-#{nth($tuple, 1)}-memorize {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: #e7e6e6;
    background: nth($tuple, 2);
  }
}
