@import 'public/style/style';

.buttonMemorize {
  padding: 10px 0px;
  font-size: 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttonCreateContentMemorize {
  @extend .buttonMemorize;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 15px;
}

.buttonConfirmMemorize {
  @extend .buttonMemorize;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.buttonLikeMemorize,
.buttonCommentMemorize {
  @extend .buttonMemorize;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  width: 100px;
  height: 32px;
}

.buttonLikeMemorize.unlike {
  border: 2px solid $red-memorize;
}

.buttonLikeMemorize.like {
  background: $red-memorize;
}

@media only screen and (max-width:576px) {
  .buttonLikeMemorize,
  .buttonCommentMemorize {
    width: 100%;
  }
}
