@import 'public/style/style';

.button-memorize {
  padding: 10px 0px;
  font-size: 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button-create-content-memorize {
  @extend .button-memorize;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 15px;
}
