.submit-button {
  width: 150px;
  background: #14b048;
  border-color: #14b048;
  font-size: 18px;
}

.register-login-button {
  width: 150px;
  background: #3a78f1;
  border-color: #3a78f1;
  font-size: 18px;
}

.login-register-button {
  width: 150px;
  background: #3a78f1;
  border-color: #3a78f1;
  font-size: 18px;
}

.text-label {
  font-size: 18px;
}

.authentication-label {
  font-size: 30px;
  font-weight: bold;
}

.form-style {
  border: 3px solid #a79c9c;
  border-radius: 15px;
}
