.form-authentication-memorize {
  border: 3px solid #c1c1c1;
  border-radius: 20px;
  padding: 30px 20px;
}

@media only screen and (min-width:576px) {
  .form-authentication-memorize {
    width: 600px;
  }
}
@media only screen and (max-width:576px) {
  .form-authentication-memorize {
    width: 400px;
  }
}

.form-text-input-memorize {
  margin: 20px 0px;
}

.form-submit-button-memorize {
  width: 150px;
  background: #14b048;
  border-color: #14b048;
  font-size: 18px;
}

.form-register-login-button-memorize {
  width: 150px;
  background: #3a78f1;
  border-color: #3a78f1;
  font-size: 18px;
}

.form-login-register-button-memorize {
  width: 150px;
  background: #3a78f1;
  border-color: #3a78f1;
  font-size: 18px;
}

.form-control-text-label-memorize {
  font-size: 18px;
}

.form-authentication-label {
  font-size: 30px;
  font-weight: bold;
}

.form-error-active-memorize {
  border-color: #ff0032;
  outline: 0;
  box-shadow: inset 0 5px 5px rgba(231, 119, 119, 0.07),0 0 8px rgb(233, 81, 81);
  -webkit-box-shadow: inset 0 5px 5px rgba(231, 119, 119, 0.07),0 0 8px rgb(233, 81, 81);
}

.form-error-active-memorize:focus {
  border-color: #ff0032;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(231, 119, 119, 0.07),0 0 8px rgb(233, 81, 81);
  -webkit-box-shadow: inset 0 1px 1px rgba(231, 119, 119, 0.07),0 0 8px rgb(233, 81, 81);
}

.form-control-text-error-memorize {
  color: red;
}
