.navbar-memorize {
  background: #f8deeb;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-memorize {
  font-size: 30px;
}

@media only screen and (min-width:992px) {
  .active-memorize {
    color: #348eff;
  }

  .nav-menu-memorize {
    padding: 0px 35px;
  }
}

@media only screen and (max-width:992px) {
  .active-memorize {
    color: #348eff;
  }
}
