.navbar-memorize {
  background: #f8deeb;
  height: 58px;
}

.nav-memorize {
  padding: 10px 30px;
  font-size: 18px;
}

.active-memorize {
  color: #348eff;
  border-bottom: 2px solid #348eff;
  padding-bottom: 10px;
}

.icon-memorize {
  font-size: 30px;
}
