.navbar-memorize {
  background: #f3c2d8;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link-memorize {
  display: flex;
  align-items: center;
}

.icon-memorize {
  font-size: 30px;
  color: #6e6e6e;
}

.icon-memorize.active-memorize {
  color: #1b7ffd;
}

.nav-menu-memorize {
  cursor: pointer;
}

@media only screen and (min-width:992px) {
  .navbar-link-memorize {
    justify-content: center;
  }

  .navbar-link-memorize.collapse {
    display: flex;
  }

  .nav-menu-memorize {
    padding: 0px 35px;
  }

  .nav-menu-memorize.active-memorize {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 2px solid #1b7ffd;
  }

  .hamburger-menu-memorize {
    display: none;
  }
}

@media only screen and (max-width:991px) {
  .nav-menu-memorize {
    margin: 8px 5px;
    padding: 5px 5px;
    display: flex;
    justify-content: flex-end;
    background: #d2d2d2;
    border-radius: 15px;
  }

  .navbar-memorize {
    justify-content: flex-end;
  }

  .navbar-link-memorize {
    display: none;
  }

  .navbar-link-memorize.collapse {
    display: block;
    position: absolute;
    top: 60px;
    width: 80px;
    padding: 0px 15px;
  }

  .hamburger-menu-memorize {
    margin-right: 25px;
  }
}
