.navbarMemorize {
  background: #4fbda4;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconMemorize {
  font-size: 30px;
  color: #ececec;
}

.iconMemorize.activeMemorize {
  color: #6386ba;
}

.navbarLinkMemorize {
  z-index: 50;
}

.navMenuMemorize {}
.collapse {}
.hamburgerMenuMemorize {}
.hamburgerMemorize {}

@media only screen and (min-width:992px) {
  .navbarLinkMemorize {
    display: flex;
    align-items: center;
  }

  .navMenuMemorize {
    padding: 13px 35px 13px 35px;
  }

  .navMenuMemorize:hover {
    background: #b7d5fd;
    border-bottom: 3px solid #6386ba;
  }

  .navMenuMemorize.activeMemorize {
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 3px solid #6386ba;
  }

  .hamburgerMenuMemorize {
    display: none;
  }
}

@media only screen and (max-width:991px) {
  .navMenuMemorize {
    margin: 10px 5px;
    padding: 5px 7px;
    background: #dbdada;
    border-radius: 15px;
    text-align: center;
  }

  .iconMemorize {
    font-size: 40px;
  }

  .navbarMemorize {
    justify-content: flex-end;
  }

  .navbarLinkMemorize {
    opacity: 0;
    position: absolute;
    top: 60px;
    padding: 0px 13px;
    height: 0;
    overflow: hidden;
    animation:animateUp 0.6s;
  }

  .navbarLinkMemorize.collapse {
    display: block;
    visibility: visible;
    overflow: hidden;
    opacity: 1;
    height: 100%;
    animation:animateDown 0.6s;
  }

  @keyframes animateDown {
    from {
      top: 20px;
      opacity: 0;
    }
    to {
      height: 100%;
      top: 60px;
      opacity: 1;
    }
  }

  @keyframes animateUp {
    from {
      top: 60px;
      height: 100%;
      opacity: 1;
    }
    to {
      top: 20px;
      opacity: 0;
    }
  }

  .hamburgerMenuMemorize {
    cursor: pointer;
    margin-right: 26px;
    font-size: 40px;
  }
  .hamburgerMemorize {
    color: #6e6e6e;
  }
}
