@import 'public/style/style';

.container-crop-image-icon-upload-memorize {

}

.container-canvas-crop-image-memorize {
  width: 500px;
}

.icon-crop-image-upload-memorize {
  font-size: 300px;
  color: $blue-memorize;
}

@media only screen and (max-width: $screen-600) {

}
