@import 'public/style/style';

.containerCanvasCropImageMemorize {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1%;
  height: 500px;
  border: 2px solid black;
}

.iconCropImageUploadMemorize {
  font-size: 300px;
  color: $blue-memorize;
}

.ReactCrop__image {
  max-width: 100%;
  max-height: 496px;
}

@media only screen and (max-width: $screen-600) {
  .containerCanvasCropImageMemorize {
    height: 300px;
  }

  .iconCropImageUploadMemorize {
    font-size: 200px;
  }

  .ReactCrop__image {
    max-height: 296px;
  }
}
