@import 'public/style/style';

.container-canvas-crop-image-memorize {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1%;
  height: 500px;
  border: 2px solid black;
}

.icon-crop-image-upload-memorize {
  font-size: 300px;
  color: $blue-memorize;
}

.ReactCrop__image {
  max-width: 100%;
  max-height: 496px;
}

@media only screen and (max-width: $screen-600) {
  .container-canvas-crop-image-memorize {
    height: 300px;
  }

  .icon-crop-image-upload-memorize {
    font-size: 200px;
  }

  .ReactCrop__image {
    max-height: 296px;
  }
}
