@import 'public/style/style';

.memorize-form-create-content-box-memorize {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #c4c4c4;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
}

.memorize-form-create-button-memorize {
  margin-top: 10px;
}
