@import 'public/style/style';

.containerFormCreateContentBoxMemorize {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #c4c4c4;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
}

.containerFormUploadCreateMemorize {
  margin-top: 10px;
  display: flex;
}

.containerCreateContentButtonMemorize {
  width: 100%;
}

.containerFormUploadImageMemorize {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 5px;
}

.iconUploadImageMemorize {
  font-size: 30px;
  padding: 5px;
  border-radius: 50%;
  color: $blue-memorize;
  border: 2px solid $blue-memorize;
}

.containerImageContentBoxMemorize {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
