@import 'public/style/style';

.container-profile-memorize {
  display: flex;
  justify-content: center;
}

.form-control {
  width: 100%;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  height: 40px;
  padding: 1px 10px;
  font-size: 18px;
}

.container-profile-form-control-memorize {
  margin: 20px 0px;
}

.textbox-label-profile-memorize {
  margin-left: 5px;
  padding-bottom: 5px;
  font-size: 25px;
}

.container-profile-form-memorize {
  border: 3px solid #b1b0b0;
  border-radius: 15px;
  padding: 20px;
}

.container-profile-saving-memorize {
  position: absolute;
  top: 350px
}

@media only screen and (min-width: $screen-768) {
  .container-profile-form-memorize {
    margin-top: 5%;
    width: 700px;
  }
}
@media only screen and (max-width: $screen-768) {
  .container-profile-form-memorize {
    margin-top: 5%;
    width: 600px;
  }
}
@media only screen and (max-width: $screen-600) {
  .container-profile-form-memorize {
    margin-top: 5%;
    width: 450px;
  }

  .container-profile-saving-memorize {
    top: 270px
  }
}
@media only screen and (max-width: $screen-600) {
  .container-profile-form-memorize {
    margin-top: 15%;
    width: 95%;
  }

  .container-profile-saving-memorize {
    top: 230px
  }
}
