@import 'public/style/style';

.containerProfileMemorize {
  display: flex;
  justify-content: center;
}

.containerProfileImageMemorize {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formControl {
  width: 100%;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  height: 40px;
  padding: 1px 10px;
  font-size: 18px;
}

.containerProfileFormControlMemorize {
  margin: 20px 0px;
}

.textboxLabelProfileMemorize {
  margin-left: 5px;
  padding-bottom: 5px;
  font-size: 25px;
}

.containerProfileFormMemorize {
  border: 3px solid #b1b0b0;
  border-radius: 15px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.containerProfileSavingMemorize {
  position: absolute;
  top: 350px
}

@media only screen and (min-width: $screen-768) {
  .containerProfileFormMemorize {
    width: 700px;
  }
}
@media only screen and (max-width: $screen-768) {
  .containerProfileFormMemorize {
    width: 600px;
  }
}
@media only screen and (max-width: $screen-600) {
  .containerProfileFormMemorize {
    width: 450px;
  }

  .containerProfileSavingMemorize {
    top: 270px
  }
}
@media only screen and (max-width: $screen-600) {
  .containerProfileFormMemorize {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
  }

  .containerProfileSavingMemorize {
    top: 230px
  }
}
